<div class="sidebar-list">
  <ul>
    <h4>我們的教會</h4>
    <li><%= link_to_unless_current '歷史簡介', church_history_path %></li>
    <li><%= link_to_unless_current '使命、異象及策略', church_vision_path %></li>
    <li><%= link_to_unless_current '全職團隊', church_fulltime_path %></li>
    <li><%= link_to_unless_current '長老介紹', church_elder_path %></li>
    <li><%= link_to_unless_current '執事介紹', church_deacon_path %></li>
    <li><%= link_to_unless_current '事工組織', church_organization_path %></li>
    <li><%= link_to_unless_current '我們的位置', church_location_path %></li>
    <li><%= link_to_unless_current '搭乘大眾交通工具', church_traffic_path %></li>
    <li><%= link_to_unless_current '填寫表單連絡我們', church_contact_path %></li>
  </ul>
</div>