<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @department.describe %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @department.introduction %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @department.sort %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
